<!DOCTYPE html>
<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Lobster" />
<html>
<head>
  <div class = "textboxes center-text">
  <title>Events</title>
  <%= csrf_meta_tags %>
</head>
<body>

  <nav class=bless>בס"ד</nav><nav>
    <div>
          <br> &nbsp  <br> &nbsp  <br> &nbsp <br> &nbsp
    </div>
    <nav class=introbar>ALL IT TAKES IS 72 MINUTES</nav>
    <nav class=project> <b class="white">PROJECT</b> <b class="yellow">72</b></nav>
    <nav class=introbar>A YESHIVA UNIVERSITY STUDENT CLUB</nav>

    <video width=100% height=100% controls loop muted autoplay preload="auto" style="visibility: visible; position: relative;" z-index="0" hover>   ;
      <source src="http://video.wixstatic.com/video/054803_5a083841a85245e1a7006a204aaae925/480p/mp4/file.mp4" type="video/mp4">
      </video>
</nav>

    <div class="calltoaction">
      <br>
      <h1>HOW ARE YOU PLEDGING 72 MINUTES?</h1>


      <iframe src="https://player.vimeo.com/video/155869881?autoplay=1&loop=1"  webkitallowfullscreen mozallowfullscreen allowfullscreen loop hide_all_controls ></iframe>

    </div>
    <div>
<span class="Gematriatitle">The gematria of חסד is 72</span>
    It is within our nature to do, to share, and to inspire good.
    In college, 'good' takes a backseat to internships, GPA's, and resumes.
    Let's bring good back into our lives and into the lives of others.
    There are 44,000 minutes in a month, all you need to give is 72.
    Pledge 72 minutes of חסד
    this month.
  </div>
</body>


<%"Area = 76.5625 of screen"%>
