<!DOCTYPE html>
<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Lobster" />
<html>
<head>
  <div class = "textboxes center-text">
  <title>Events</title>
  <%= csrf_meta_tags %>
</head>
<body>
<% @event_to_display.each do |f| %>
  <h1 class="title">
     <span class="event_index">
       <div class="row">
         <div class="image large-3 medium-6 columns end">    <%=link_to image_tag(f.event_image), event_path(f.id) %> </span></div>

    <%end%>
</span>
  </h1>
