<!DOCTYPE html>
<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Lobster" />
<link href='https://fonts.googleapis.com/css?family=Spinnaker' rel='stylesheet' type='text/css'>
<html>
  <head>
    <div class = "textboxes center-text">
    <title>Events</title>
    <%= csrf_meta_tags %>
  </head>
  <body class="about">
    <h1 class="header">- WHAT WE DO-</h1>
      <div class="topic left">
        <%= image_tag("wedding_cake.png")%></p>
        Mitzvah Weddings
      </div>
      <div>
        <iframe src="https://player.vimeo.com/video/154904452" float="right", width="603" height="345" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen autoplay="true"></iframe></div>
        <p class="paragraph left"> On-call Groomsmen and Bridesmaides!! Help people around the community fill seats up at their Wedding, Bar Mitzvah, or Siyum! It's an amazing way to do Chessed and have a great time all at once!</p>
        <div>
        </div>
      <div class="topic right">
        <%= image_tag("medkit.png")%></p>
        Parties with Patients<p>
        <p class="paragraph right"> Get kids out of the hospital bed and onto the dance floor! We plan events with singers, including Beri Weber and Avraham Fried, to put smiles on the faces of patients in need.</p>
      </div>
    </div>
  </body>
</html>
