/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
//= require foundation_and_overrides

 *=require foundation_and_overrides

 */



.showtitle.image {
  max-width: 1000px;

}

.actions {
  color: red !important;
}

 $maincolor:#2f2e2e;
 $secondarycolor:#000;
 $thirdcolor:white;
 $buttonhovercolor: #000;
 $textcolor:#FFFFFF;
 $logofont: lobster,cursive;
 $smallfont:'Merriweather', serif;


 body {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
  background-position: 0px 45px;
  font-family: $smallfont;
  font-size: 14px;
 }


//Changes size of designs/submit a design text
.header {
  font-family: $logofont;
  font-size: 1.65rem;
  padding-left: 0px;

}

.modal-header {
  font-family: $logofont;
  font-size: 1.65rem;
  padding-left: .8rem;
  color: $secondarycolor;

}

.submission {
  text-align: center;
}

.top-bar {
  height: 53px;
  font-size: 31px;
  font-family: $logofont;
  color: $thirdcolor;
  background: $maincolor;
  background-color: $maincolor;
  letter-spacing: 0px;
  line-height: 31px;
  z-index: +2;


  span {
  font-family: helvetica;
  font-size: 16px;
  line-height: 29px;
    .right {
      word-spacing: 30px !important;
    }
  }


  a {
  left: 200px;
  font: inherit;
  font-size: inherit;

  }
  ul {
    background-color: inherit;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
}

video {
   z-index: -1;
   margin-top: -50px;
}
/* .design-display:hover .hover-text{

  opacity: .8;
  color: #000;
  font-weight: 700;
  font-family: $smallfont;
} */
#navlist li {
  display: inline;
  list-style-type: none;


}

.top-bar-section li a:not(.button) {
    background: $maincolor !important;
    font-family: $smallfont;
    font-size: 1rem;
    -webkit-transform-style: preserve-3d;
    /* line-height: 55px !important; */
    transition: all .3s ease-out;


}

.top-bar-section li a:not(.button):hover {
    background: $buttonhovercolor !important;
    transition: all .3s ease-in-out;

}



.button {
  display: block;
  background-color: $maincolor;

  color: $textcolor;
  span{

    overflow: hidden;
    &:hover{cursor: pointer;}
  }
}

/* .button:hover {
  background-color: $buttonhovercolor;
}
 */

.title {
  text-align: center;
  color: black;
  margin-left: 10px;
  font: $logofont;
}

.creator {
  text-align: center;
  color: black;
  margin-bottom:15px;
  margin-left: 10px;
  font-size: 16px;
}

.event.image {
  display: inline-block;
  width: 100%;
  max-height: 1000;

}
.approval {
  color: $maincolor;
}
title {
  font: apyrus;
}

img {
  display: inline-block;
  width: 250px;
  max-height: 250px;
  padding-right: 10px;

}
h5 {
  text-align: center;
}


h1 a {
  text-align: center;
  color: $secondarycolor;
  transition: .3s;
}

h1 {

}

h2 {
  color: $secondarycolor;
}

h3 {
  font-family: $smallfont;
}


/* h1 a:hover {
  color: $maincolor;
  text-align: center;
    transition:  .3s ;
}

.juxtapose {
  a {
  color: $maincolor;
  display: inline;
  }
  a:hover {
    color: $thirdcolor;
      transition: all .3s ease-in-out;
      text-shadow:
       -1px -1px 0 $maincolor,
        1px -1px 0 $maincolor,
        -1px 1px 0 $maincolor,
         1px 1px 0 $maincolor;
  }
} */

.delete_edit {
  text-align: center;
}

.full-width {
  max-width: 1400px;
}

.footer {
  background-color: $maincolor;

  h4 {
    color: $thirdcolor;
    font-size: 1rem;
    font-weight: 400;
    text-transform: uppercase;
    margin-top: 10rem;
    margin-bottom: 10px;
  }
  p {
    font-weight: 300;
    font-size: .8rem;
  }
  span {
    font-size: 50px;
    color: $thirdcolor;
    margin-top: 2.5rem;
    margin-bottom: 10px;
  }

}

@media only screen and (min-width: 40.063em) {
.footer {
  .columns:nth-child(n+2) {
     border-left: 1px solid scale-color(#fff, $lightness: -30%);
  }
 }
}

.footer-links {
  list-style-type: none;
  a {
    color: $thirdcolor;
    font-weight: 300;
    font-size: .8rem;
  }
  li {
    margin-top: .5rem;
  }
}


html, body {
  height: 100%;
}
.page-wrap {
  min-height: 100%;
	margin-bottom: -125px;
}
.page-wrap:after {
  content: "";
  display: block;
}
.site-footer, .page-wrap:after {
  /* .push must be the same height as footer */
	min-height: 150px;
}
.site-footer {
  background: $maincolor;
}

.line {
  font-family: times;
  display: inline;
  position-left: -10px;
  font-size: 2rem;
  font-weight: 200 !important;
}
//




@import url('http://fonts.googleapis.com/css?family=Montserrat:700');

*, *:before, *:after{
  box-sizing: border-box;
  margin: 0; padding: 0;
}

button{

  background-color: $maincolor;
  overflow: hidden;
  outline: none;
  color: $maincolor;

  span{
    &:hover{cursor: pointer;}
  }
}

.circle{
  display: block;
  position: absolute;
  background: rgba(0,0,0,.075);
  border-radius: 50%;
  transform: scale(0);

  &.animate{animation: effect 0.65s linear;}
}

@keyframes effect{
	100%{
    opacity: 0;
    transform: scale(2.5);
  }
}
