/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
//= require foundation_and_overrides

 *=require foundation_and_overrides

 */



.showtitle.image {
  max-width: 1000px;

}

.actions {
  color: red !important;
}

 $maincolor:#2f2e2e;
 $secondarycolor:#000;
 $thirdcolor:white;
 $buttonhovercolor: #000;
 $textcolor:#FFFFFF;
 $logofont: lobster,cursive;
 $smallfont:'Merriweather', serif;
 /* $background-color: rgb(230, 230, 230) */
 ;


 body {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
  background-position: 0px 45px;
  font-family: $smallfont;
  font-size: 14px;
 }


//Changes size of designs/submit a design text
.header {
  font-family: $logofont;
  font-size: 1.65rem;
  padding-left: 0px;

}

.modal-header {
  font-family: $logofont;
  font-size: 1.65rem;
  padding-left: .8rem;
  color: $secondarycolor;

}

.submission {
  text-align: center;
}

.top-bar {
  height: 53px;
  font-size: 31px;
  font-family: $logofont;
  color: $thirdcolor;
  background: $maincolor;
  background-color: $maincolor;
  letter-spacing: 0px;
  line-height: 31px;
  z-index: +2;
  vertical-align: middle;
  
  display: inline;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  li {
    display: inline;
    font-family: helvetica;
    font-stretch: condensed;
    font-size: 20px;
    line-height: 27px;
    padding-left: 30px;
    padding-right: 20px;
    text-align: center;
    vertical-align: middle;
    position: fixed;
    display: inline;
    bold {
      font-family: $logofont;
      font-size: 31px;
    }
    a {
      overflow: visible;
      display: inline;
      margin: 30px;
      font: inherit;
      font-size: inherit;

    }
  }

  .UserSpace {
    float: right;
    position: relative;
    font-family: helvetica;
    font-stretch: condensed;
    font-size: 16px;
    top: 10px;
    align: right;
    display: inline;

      }

  ul {
    background-color: inherit;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
}

video {
   z-index: -1;
   margin-top: -103px;
   position: fixed;

}
/* .design-display:hover .hover-text{

  opacity: .8;
  color: #000;
  font-weight: 700;
  font-family: $smallfont;
} */
#navlist li {
  display: inline;
  list-style-type: none;


}

/* .top-bar-section li a:not(.button) {
    background: $maincolor !important;
    font-family: $smallfont;
    font-size: 1rem;
    -webkit-transform-style: preserve-3d;
    line-height: 55px !important;
    transition: all .3s ease-out;


}

.top-bar-section li a:not(.button):hover {
    background: $buttonhovercolor !important;
    transition: all .3s ease-in-out;

} */


.about{
  .header {
  font-family: spinnaker, sans-serif;
  font-size: 54px;
  line-height: 54px;
  letter-spacing: 13.5px;
  padding-top: 30px;
  text-align: center;
  vertical-align: middle;

}

.topic.left {
  font-family: "Times New Roman", Times, italic;
  font-style: italic;
  font-size: 19px;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: 1px;
  padding-top: 30px;
  padding-left: 17.25%;
  img{
    width: 94px;
    height: 103px;
    margin-left: 2.6%;
  }
}


  .paragraph.left {
    font-family: spinnaker, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 14px;
    letter-spacing: 0px;
    padding-top: 5px;
    padding-left: 18%;
    text-align: center;
    width: 367px;

}
.topic.right {
  float: right;
  font-family: "Times New Roman", Times, italic;
  font-style: italic;
  font-size: 19px;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: 1px;
  padding-top: 30px;
  margin-left: 42px;
  padding-right: 10%;
  width: 380px;
  img{
    width: 96px;
    height: 71px;
    margin-left: 20%;
  }
}


  .paragraph.right {
    float: right;
    font-family: spinnaker, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0px;
    line-height: 14px;
    text-align: center;
    margin-right: 20px;
    padding-right: 10px;
    width: 262px;

}

}

.button {
  background-color: inherit;
  height: auto;
  color: $maincolor;
  margin-top: 0 !important;
  margin-bottom: 10px !important;
  padding-bottom: 13px !important;

  span{

    overflow: hidden;
    &:hover{cursor: pointer;}
  }
}

.bless {
  font-size: 29px;
  font-family: impact;
  color: $textcolor;
  float: right;
  z-index: 1;
  padding-right: 4%;
}
.introbar {
  background-color: #999999;
  text-align: center;
  font-family: impact;
  font-size: 22px;
  color: $textcolor;
  letter-spacing: 7px;

}



.button {
  height: auto;
  color: $textcolor;
  background-color: $maincolor;
  margin-top: 0 !important;
  margin-bottom: 10px !important;
  padding-bottom: 13px !important;
  border-color: $maincolor;

  span{

    overflow: hidden;
    &:hover{cursor: pointer;}
  }
}

.button:hover {
  background-color: #52EA25;
  border-style: solid;
  color: $maincolor;
  border-color: $maincolor;
}

.title {
  text-align: center;
  color: black;
  margin-left: 10px;
  font: $logofont;
}

.creator {
  text-align: center;
  color: black;
  margin-bottom:15px;
  margin-left: 10px;
  font-size: 16px;
}

.event.image {
  display: inline-block;
  width: 100%;
  max-height: 1000;

}
.approval {
  color: $maincolor;
}
title {
  font: apyrus;
}

img {
  display: inline-block;
  width: 250px;
  max-height: 250px;
  padding-right: 10px;

}
h5 {
  text-align: center;
}


h1 a {
  text-align: center;
  color: $secondarycolor;
  transition: .3s;
}

h1 {

}

h2 {
  color: $secondarycolor;
}

h3 {
  font-family: $smallfont;
}


/* h1 a:hover {
  color: $maincolor;
  text-align: center;
    transition:  .3s ;
}

.juxtapose {
  a {
  color: $maincolor;
  display: inline;
  }
  a:hover {
    color: $thirdcolor;
      transition: all .3s ease-in-out;
      text-shadow:
       -1px -1px 0 $maincolor,
        1px -1px 0 $maincolor,
        -1px 1px 0 $maincolor,
         1px 1px 0 $maincolor;
  }
} */

.delete_edit {
  text-align: center;
}

.full-width {
  max-width: 1400px;
}

.footer {
  background-color: $maincolor;

  h4 {
    color: $thirdcolor;
    font-size: 1rem;
    font-weight: 400;
    text-transform: uppercase;
    margin-top: 10rem;
    margin-bottom: 10px;
  }
  p {
    font-weight: 300;
    font-size: .8rem;
  }
  span {
    font-size: 50px;
    color: $thirdcolor;
    margin-top: 2.5rem;
    margin-bottom: 10px;
  }

}

@media only screen and (min-width: 40.063em) {
.footer {
  .columns:nth-child(n+2) {
     border-left: 1px solid scale-color(#fff, $lightness: -30%);
  }
 }
}

.footer-links {
  list-style-type: none;
  a {
    color: $thirdcolor;
    font-weight: 300;
    font-size: .8rem;
  }
  li {
    margin-top: .5rem;
  }
}


html, body {
  height: 100%;
}
.page-wrap {
  min-height: 100%;
	margin-bottom: -125px;
}
.page-wrap:after {
  content: "";
  display: block;
}
.site-footer, .page-wrap:after {
  /* .push must be the same height as footer */
	min-height: 150px;
}
.site-footer {
  background: $maincolor;
}

.line {
  font-family: times;
  display: inline;
  position-left: -10px;
  font-size: 2rem;
  font-weight: 200 !important;
}
//


.about_us {
  padding-top: 2rem;
  padding-left: 20%;
  padding-bottom: 1rem;
  color: $maincolor;
  font-family: Helvetica;

  span.one {
    font-size: 26px;
    line-height: 26px;
  }

  span.two {
    overflow: hidden;
    text-overflow: ellipsis;
    p {
    padding-top: 2px;
    width: 650px;
    font-size: 14px;
    line-height: 14px;
  }
  }


}

.adminpage {
  text-align: center;
  font-size: 45px;
  color: red;
}


@import url('http://fonts.googleapis.com/css?family=Montserrat:700');

*, *:before, *:after{
  box-sizing: border-box;
  margin: 0; padding: 0;
}

button{
  background-color: $maincolor;
  overflow: hidden;
  outline: none;
  color: $maincolor;
  margin: 0 !important;
  span{
    &:hover{cursor: pointer;}
  }
}

.circle{
  display: block;
  position: absolute;
  background: rgba(0,0,0,.075);
  border-radius: 50%;
  transform: scale(0);

  &.animate{animation: effect 0.65s linear;}
}

.pageheader {
  font-family: $logofont;
  font-size: 4rem;

  text-align: center;
  color: $maincolor;


}

.form{
  color: $maincolor;
  max-width: 1200px;
  position: centered;
  padding-left: 80px;
}

@keyframes effect{
	100%{
    opacity: 0;
    transform: scale(2.5);
  }
}
